@tailwind base;
@tailwind components;
@tailwind utilities;


#cover{
  height: 100vh;
  background-image: url('./public/images/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}