@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');




#cover{
  height: 100vh;
  background-image: url('./public/images/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#chape{
  height: 25%;
  width: 25%;
  clip-path: polygon(100% 0, 100% 50%, 100% 99%, 0% 100%, 54% 48%, 0% 0%);
}
#chape img{
  border-radius: 15%;
}

#chape1{
  height: 25%;
  width: 25%;
clip-path: polygon(0 0, 0% 100%, 53% 51%);

}
#chape1 img{
  border-radius: 15%;
}

#sidebar{

  background-color: rgb(255, 30, 86);
}


#navbar{

  background-color: rgb(255, 30, 86);
}

#card {

  width: 40%;
  height: 20%;
  border-radius: 1rem;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #1888b4 46%,
    #0f31ca 100%
  );

/* hadi jbtha mn ui verse */
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}



#home{

  background-image: url('./public/images/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


/* ta hadi */
@keyframes slide {
  0%, 20% { transform: translateY(0); }
  25%, 45% { transform: translateY(-100%); }
  50%, 70% { transform: translateY(-200%); }
  75%, 95% { transform: translateY(-300%); }
}
.carousel .flex {
  animation: slide 12s infinite;
}

#text{
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
  
}